.container {
  display: flex;
  margin-top: 1em;
  align-items: center;

  .buttons {
    display: flex;
    margin-left: 10vw;
  }

  .currently-plating {
    width: 20vw;
    margin-left:0.7em;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

button {
  color: #b8336aff;
  margin: 1em 1em 0.5em 1em;

  mat-icon {
    font-size: 50px;
    width: auto;
    height: auto;
  }
}

.mat-icon-button[disabled] {
  color: #edd2e0ff;
}
