.container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

button {
  color: #b8336aff;
  margin: 1em 1em 0.5em 1em;

  mat-icon {
    font-size: 50px;
    width: auto;
    height: auto;
  }
}

.mat-icon-button[disabled] {
  color: #edd2e0ff;
}
