<div class="container box">
  <app-currently-playing
    class="currently-plating"
    [currentlyPlaying]="playerState?.title">
  </app-currently-playing>
  <div class="buttons">
    <button
    mat-icon-button
    (click)="previous()"
    *ngIf="menuSelection !== menuItem.NetRadios"
    [disabled]="
      playerState.state === PlayerStateEnum.NotConnected ||
      !contentExplorerHasSelectedItem.getValue()"
  >
    <mat-icon>skip_previous</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="play()"
    [disabled]="
      playerState.state === PlayerStateEnum.NotConnected ||
      !contentExplorerHasSelectedItem.getValue()"
  >
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="stop()"
    [disabled]="
      playerState.state === PlayerStateEnum.NotConnected ||
      playerState.state === PlayerStateEnum.Stoped ||
      playerState.state === PlayerStateEnum.WaitingForCommand"
  >
    <mat-icon>stop</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="next()"
    *ngIf="menuSelection !== menuItem.NetRadios"
    [disabled]="
      playerState.state === PlayerStateEnum.NotConnected ||
      !contentExplorerHasSelectedItem.getValue()"
  >
    <mat-icon>skip_next</mat-icon>
  </button>
  </div>
</div>
