li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  margin: 0.2em auto;
  border: 1px solid rgb(153, 153, 153);
  cursor: pointer;

  div:first-child {
    display: flex;
    align-items: center;

    span {
      padding-left: 1em;
    }
  }

  div:last-child {
    color: green;
    padding-left: 1em;
    visibility: hidden;
  }
}

li:hover:not(.selected) {
  background-color: #FCE4EC;

  div:last-child {
    visibility: visible;
  }
}
