.container {
  margin-top: 1em;
  height: calc(100vh - 14.5em);
  max-height: 75vh;
  overflow-y: auto;
}

.top-navigation-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .breadcrubms {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .more-menu {
    margin-right: 0.5em;
  }
}

.content-box {
  margin: 0em 4em 1em 1em;
}

.content-list {
  list-style: none;
  font-size: larger;
}

::ng-deep li.selected {
  background-color: #726da8ff;
  color: white;

  :last-child {
    color: white;
    visibility: visible;
  }
}


