<div class="container box">

  <div class="top-navigation-box">
    <div class="breadcrubms">
      <app-bread-crumbs [breadCrumbs]="breadCrumbs" (breadCrumbClicked)="breadCrumbCliekce($event)">
      </app-bread-crumbs>
    </div>
    <div>
      <button mat-icon-button  class="more-menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>

  <div class="content-box">
    <ul class="content-list">
      <ng-container [ngSwitch]="menuSelection">
        <ng-template [ngSwitchCase]="menuItem.Files">
          <app-file-system-item
          (itemSelected)="itemSelected($event)"
          [content]="item" *ngFor="let item of contentToDisplay"
          (openFolder)="openFolder($event)">
          </app-file-system-item>
        </ng-template>
        <ng-template [ngSwitchCase]="menuItem.Playlists">
          <app-playlist-item (itemSelected)="itemSelected($event)" [content]="item" *ngFor="let item of contentToDisplay">
          </app-playlist-item>
        </ng-template>
        <ng-template [ngSwitchCase]="menuItem.NetRadios">
          <app-net-radio-item (itemSelected)="itemSelected($event)" [content]="item" *ngFor="let item of contentToDisplay">
          </app-net-radio-item>
        </ng-template>
      </ng-container>
    </ul>
  </div>
</div>
