.container {
  margin-top: 1em;
  height: calc(100vh - 14em);
  max-height: 75vh;
  overflow-y: auto;
}

.content-path-box {
  display: flex;
  justify-content: center;
}

.content-box {
  margin: 0em 4em 1em 1em;
}

.content-list {
  list-style: none;
  font-size: larger;
}
