.menu-container {
  display: flex;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  font-size: medium;
  margin-top: 0.2em;
}

.menu-container > div {
  padding: 1.5em 0em;
  text-align: center;
  width: 100%;
  background-color: #ff006eff;
  cursor: pointer;
}

.menu-container > div:nth-child(2) {
  border-right: 2px solid white;
  border-left: 2px solid white;
}

.menu-container > div:hover {
  font-weight: 950;
}
