.menu-container {
  display: flex;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  font-size: medium;
  margin-top: 0.2em;
}

.menu-container > label {
  padding-top: 1.5em;
  padding-bottom: 0.5em;;
  text-align: center;
  width: 100%;
  background-color: #ff006eff;
  cursor: pointer;
  border-radius: 5px;
}

.menu-container > label:nth-child(2) {
  border-right: 2px solid white;
  border-left: 2px solid white;
}

.menu-container > label:hover {
  font-weight: 900;
}

label > input {
  visibility: hidden;
}

// Handling selection
.menu-item {
  visibility: hidden;
}

input[type="radio"]:checked ~ .menu-item {
  visibility: visible;
  border-top: 2px solid white;
  margin-bottom: 1em;
  width: 60%;
  background-color: white;
}

input[type="radio"]:checked ~ p {
  font-weight: 900;
}
