<button mat-icon-button class="top-menu" (click)="mobileMenuVisible = !mobileMenuVisible">
  <mat-icon>menu</mat-icon>
</button>

<div class="menu-container" [ngClass]="{'show-menu': mobileMenuVisible, 'hide-menu': !mobileMenuVisible}">
  <label for="files" >
    <input (click)="menuSelected(MenuItem.Files)" id="files" name="menu" type="radio" checked="true"/>
    <p>Files</p>

    <hr class="menu-item"/>
  </label>
  <label for="playlists">
    <input (click)="menuSelected(MenuItem.Playlists)" id="playlists" name="menu" type="radio"/>
    <p>Playlists</p>

    <hr class="menu-item"/>
  </label>
  <label for="netradios">
    <input (click)="menuSelected(MenuItem.NetRadios)" id="netradios" name="menu"  type="radio"/>
    <p>NET Radios</p>
    <hr class="menu-item"/>
  </label>
</div>
