html, body {
  background-color: #ebebeb;
  height: 99%;
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  @media screen and (min-width: 768px) {
    padding-left: 3em;
    padding-right: 3em;
  }

  @media screen and (min-width: 769px) {
    padding-left: 10em;
    padding-right: 10em;
  }
}

.box {
  background-color: white;
  border: 1px solid #c4c3c0;
}

// Context menu

.mat-menu-panel {
  background-color: white;
}

.mat-menu-item,
.mat-menu-item .mat-icon-no-color {
  color: black;
}

.mat-dialog-container {
  background-color: white;
  color: black;
}
